<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
        <p>
            This is a simple web app which compares products from two websites <em><strong>Amazon</strong></em> and <em><strong>Flipkart</strong></em> and displays the best product.<br>
            The web app only considers product from the first page of the result given by both the websites.<br>
            Products not meeting the criterion for comparison are not considered, such as if a product's rating is not available.<br>
            It also creates an excel file where the user can see all the products considered for comparison from both the websites.<br>
            
            I have used flask, bootstrap, css and html .
        </p>
    </body>
</html>